<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chuxin.law">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_x86_64,tv.danmaku.ijk.media.player_arm64" />

    <application
        android:name="com.chuxin.law.TalkLawApplication"
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.chuxin.law.ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录-->
        <activity
            android:name="com.chuxin.law.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--首页-->
        <activity
            android:name="com.chuxin.law.ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <!--音频详情-->
        <activity
            android:name="com.chuxin.law.ui.activity.AudioDetailsActivity"
            android:screenOrientation="portrait" />
        <!--免费专区-->
        <activity
            android:name="com.chuxin.law.ui.activity.ArrondiActivity"
            android:screenOrientation="portrait" />
        <!--注释-->
        <activity
            android:name="com.chuxin.law.ui.activity.ProductiListActivity"
            android:screenOrientation="portrait" />

        <!-- 积分首页 -->
        <activity
            android:name="com.chuxin.law.ui.activity.IntegralActivity"
            android:screenOrientation="portrait" />

        <!-- 兑换记录 -->
        <activity
            android:name="com.chuxin.law.ui.activity.ExchangeRecordsActivity"
            android:screenOrientation="portrait" />

        <!-- 兑换详情 -->
        <activity
            android:name="com.chuxin.law.ui.activity.RedeemDetailsActivity"
            android:screenOrientation="portrait" />

        <!--个人信息-->
        <activity
            android:name="com.chuxin.law.ui.activity.MyInfoActivity"
            android:screenOrientation="portrait" />

        <!--消息列表-->
        <activity
            android:name="com.chuxin.law.ui.activity.MyMsgListActivity"
            android:screenOrientation="portrait" />

        <!--积分详情-->
        <activity
            android:name="com.chuxin.law.ui.activity.IntegralDetailActivity"
            android:screenOrientation="portrait" />

        <!--已购产品-->
        <activity
            android:name="com.chuxin.law.ui.activity.AlreadyPurchaseActivity"
            android:screenOrientation="portrait" />

        <!--我的关注-->
        <activity
            android:name="com.chuxin.law.ui.activity.MyAttentionActivity"
            android:screenOrientation="portrait" />

        <!--设置-->
        <activity
            android:name="com.chuxin.law.ui.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <!--关于我们-->
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />

        <!--我的咨询-->
        <activity
            android:name="com.chuxin.law.ui.activity.MyConsultActivity"
            android:screenOrientation="portrait" />

        <!--推荐有礼-->
        <activity
            android:name="com.chuxin.law.ui.activity.RecommendCourtesyActivity"
            android:screenOrientation="portrait" />

        <!--日期计算器-->
        <activity
            android:name="com.chuxin.law.ui.activity.DateCalculatorActivity"
            android:screenOrientation="portrait" />
        <!--律师详情-->
        <activity
            android:name="com.chuxin.law.ui.activity.LawyerDefautActivity"
            android:screenOrientation="portrait" />


        <!--诉讼计算器-->
        <activity
            android:name="com.chuxin.law.ui.activity.LitigationCalculatorActivity"
            android:screenOrientation="portrait" />

        <!--律师计算器-->
        <activity
            android:name="com.chuxin.law.ui.activity.LawyerCalculatorActivity"
            android:screenOrientation="portrait" />

        <!--个税计算器-->
        <activity
            android:name="com.chuxin.law.ui.activity.AtaxCalculatorActivity"
            android:screenOrientation="portrait" />

        <!--&lt;!&ndash;搜索页面&ndash;&gt;-->
        <!--<activity android:name="com.chuxin.law.ui.activity.SearchActivity" />-->

        <activity
            android:name="com.chuxin.law.ui.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <!--添加地址-->
        <activity
            android:name="com.chuxin.law.ui.activity.SelectAreaActivity"
            android:screenOrientation="portrait" />

        <!--添加地址-->
        <activity
            android:name="com.chuxin.law.ui.activity.AreaListActivity"
            android:screenOrientation="portrait" />

        <!--添加地址-->
        <activity
            android:name="com.chuxin.law.ui.activity.SelectCountryActivity"
            android:screenOrientation="portrait" />

        <!--律师介绍-->
        <activity
            android:name="com.chuxin.law.ui.activity.LawyerIntroductionActivity"
            android:screenOrientation="portrait" />

        <!--购买-->
        <activity
            android:name="com.chuxin.law.ui.activity.BuyProductActivity"
            android:screenOrientation="portrait" />

        <!--打赏-->
        <activity
            android:name="com.chuxin.law.ui.activity.GratuityActivity"
            android:screenOrientation="portrait" />

        <!--打赏支付-->
        <activity
            android:name="com.chuxin.law.ui.activity.GratuityPayActivity"
            android:screenOrientation="portrait" />

        <!--webview页面-->
        <activity
            android:name="com.chuxin.law.ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />


        <!--热门企业-->
        <activity
            android:name="com.chuxin.law.ui.activity.HotAllProductActivity"
            android:screenOrientation="portrait" />

        <!--编辑个人信息-->
        <activity
            android:name="com.chuxin.law.ui.activity.EditUserInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <!--积分商城 所有商品页面-->
        <activity
            android:name="cn.com.talklaw.ui.activity.AllGoodsActivity"
            android:screenOrientation="portrait" />


        <!--积分产品详情-->
        <activity
            android:name=".ui.activity.IntegralWebViewActivity"
            android:screenOrientation="portrait" />

        <!--评论列表-->
        <activity
            android:name=".ui.activity.CommentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <!--收货地址-->
        <activity
            android:name=".ui.activity.ShippingAddressActivity"
            android:screenOrientation="portrait" />

        <!--律师认证-->
        <activity
            android:name=".ui.activity.LawyerAuthActivity"
            android:screenOrientation="portrait" />

        <!--提交认证-->
        <activity
            android:name=".ui.activity.SubmitAuthActivity"
            android:screenOrientation="portrait" />

        <!--申请提现页面-->
        <activity
            android:name=".ui.activity.ApplyForWithdrawalsActivity"
            android:screenOrientation="portrait" />

        <!--新增银行卡信息-->
        <activity
            android:name=".ui.activity.NewAddYinHangActivity"
            android:screenOrientation="portrait" />
        <!--账户明细-->
        <activity
            android:name=".ui.activity.AccountDetailsActivity"
            android:screenOrientation="portrait" />

        <!--购买支付-->
        <activity
            android:name=".ui.activity.BuyLawyerActivity"
            android:screenOrientation="portrait" />

        <!--咨询支付-->
        <activity
            android:name=".ui.activity.BuyIntroductionActivity"
            android:screenOrientation="portrait" />

        <!--咨询支付成功-->
        <activity
            android:name=".ui.activity.PaySucActivity"
            android:screenOrientation="portrait" />

        <!--保证金申请页面-->
        <activity
            android:name=".ui.activity.GuaranteeRequestActivity"
            android:screenOrientation="portrait" />

        <!--精选推荐页面-->
        <activity
            android:name=".ui.activity.RecommendedProductActivity"
            android:screenOrientation="portrait" />


        <!--新浪分享-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--新浪分享-->

        <!--qq分享-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--qq分享-->

        <!--微信分享-->
        <activity
            android:name="com.chuxin.law.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信支付-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>


        <activity
            android:name=".ry.ui.activity.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.chuxin.law"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>

        </activity>


        <!--Image Selector Entry-->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a3a0da5b27b0a4ed200002f" />


        <!--<service-->
        <!--android:name="com.umeng.update.net.DownloadingService"-->
        <!--android:process=":DownloadingService" />-->

        <!--<activity-->
        <!--android:name="com.umeng.update.UpdateDialogActivity"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->


        <!--&lt;!&ndash; 百度地图所需的service &ndash;&gt;-->
        <!--<service-->
        <!--android:name="com.baidu.location.f"-->
        <!--android:enabled="true"-->
        <!--android:process=":remote" />-->


        <!--<meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--android:value="3ecea51f560650b1ed8a4b99808f52e8" />-->

        <!-- fabric start -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6b54bd4edc63eba3ef59d69f8e0a5070bea384e2" />
        <!-- fabric end -->


        <receiver
            android:name=".ry.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>


        <!--<meta-data-->
        <!--android:name="RONG_CLOUD_APP_KEY"-->
        <!--android:value="e0x9wycfx7flq" />-->

        <!-- 正式 n19jmcy59f1q9  测试 p5tvi9dst25b4  小乔 e0x9wycfx7flq-->

        <!--end rongcloud-->

        <!-- 请将CHANNAL改为app的发布渠道 < -->
        <meta-data
            android:name="InstallChannel"
            android:value="CHANNAL" />

        <!-- 高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e09af6a2b26c02086e9216bd07c960ae" />


        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="RongCloudApp" />


        <!--第三方的推送 权限 广播 和服务-->

        <!-- 小米 配置开始 < -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米 配置结束 < -->

        <!-- HMS 配置开始-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10535759" />


        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="io.rong.push.platform.HMSReceiver">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>
        <!-- HMS 配置结束-->

        <!-- GCM 配置 < -->
        <!--<receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="cn.rongcloud.im" />
                &lt;!&ndash; 替换为自己的packagename < &ndash;&gt;
            </intent-filter>
        </receiver>

        <service
            android:name="io.rong.push.platform.RongGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.platform.RongGCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>-->
        <!-- GCM 配置结束 < -->

        <!-- [START firebase_service] -->
        <service
            android:name="io.rong.push.platform.RongFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name="io.rong.push.platform.RongFirebaseInstanceIDService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <service android:name=".audioplayer.service.AudioPlayerService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chuxin.law.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

    </application>

</manifest>