<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.talklaw">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".TalkLawApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录-->
        <activity android:name=".ui.activity.LoginActivity" />
        <!--音频详情-->
        <activity android:name=".ui.activity.AudioDetailsActivity" />
        <!--免费专区-->
        <activity android:name=".ui.activity.ArrondiActivity" />
        <!--注释-->
        <activity android:name=".ui.activity.ProductiListActivity" />

        <!-- 积分首页 -->
        <activity android:name=".ui.activity.IntegralActivity" />

        <!-- 兑换记录 -->
        <activity android:name=".ui.activity.ExchangeRecordsActivity" />

        <!-- 兑换详情 -->
        <activity android:name=".ui.activity.RedeemDetailsActivity" />

        <!--个人信息-->
        <activity android:name=".ui.activity.MyInfoActivity" />

        <!--消息列表-->
        <activity android:name=".ui.activity.MyMsgListActivity" />

        <!--积分详情-->
        <activity android:name=".ui.activity.IntegralDetailActivity" />

        <!--已购产品-->
        <activity android:name=".ui.activity.AlreadyPurchaseActivity" />

        <!--我的关注-->
        <activity android:name=".ui.activity.MyAttentionActivity" />

        <!--设置-->
        <activity android:name=".ui.activity.SettingActivity" />

        <!--我的咨询-->
        <activity android:name=".ui.activity.MyConsultActivity" />

        <!--推荐有礼-->
        <activity android:name=".ui.activity.RecommendCourtesyActivity" />

        <!--日期计算器-->
        <activity android:name=".ui.activity.DateCalculatorActivity" />

        <!--诉讼计算器-->
        <activity android:name=".ui.activity.LitigationCalculatorActivity" />

        <!--律师计算器-->
        <activity android:name=".ui.activity.LawyerCalculatorActivity" />

        <!--个税计算器-->
        <activity android:name=".ui.activity.AtaxCalculatorActivity" />

        <!--搜索页面-->
        <activity android:name=".ui.activity.SearchActivity" />

        <!--添加地址-->
        <activity android:name=".ui.activity.SelectAreaActivity" />


        <!--添加地址-->
        <activity android:name=".ui.activity.AreaListActivity" />

        <!--添加地址-->
        <activity android:name=".ui.activity.SelectCountryActivity" />
    </application>

</manifest>