<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuxin.law">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name="com.chuxin.law.TalkLawApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.chuxin.law.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录-->
        <activity
            android:name="com.chuxin.law.ui.activity.LoginActivity"
            android:launchMode="singleTask" />

        <!--首页-->
        <activity android:name="com.chuxin.law.ui.activity.HomeActivity" />
        <!--音频详情-->
        <activity android:name="com.chuxin.law.ui.activity.AudioDetailsActivity" />
        <!--免费专区-->
        <activity android:name="com.chuxin.law.ui.activity.ArrondiActivity" />
        <!--注释-->
        <activity android:name="com.chuxin.law.ui.activity.ProductiListActivity" />

        <!-- 积分首页 -->
        <activity android:name="com.chuxin.law.ui.activity.IntegralActivity" />

        <!-- 兑换记录 -->
        <activity android:name="com.chuxin.law.ui.activity.ExchangeRecordsActivity" />

        <!-- 兑换详情 -->
        <activity android:name="com.chuxin.law.ui.activity.RedeemDetailsActivity" />

        <!--个人信息-->
        <activity android:name="com.chuxin.law.ui.activity.MyInfoActivity" />

        <!--消息列表-->
        <activity android:name="com.chuxin.law.ui.activity.MyMsgListActivity" />

        <!--积分详情-->
        <activity android:name="com.chuxin.law.ui.activity.IntegralDetailActivity" />

        <!--已购产品-->
        <activity android:name="com.chuxin.law.ui.activity.AlreadyPurchaseActivity" />

        <!--我的关注-->
        <activity android:name="com.chuxin.law.ui.activity.MyAttentionActivity" />

        <!--设置-->
        <activity android:name="com.chuxin.law.ui.activity.SettingActivity" />

        <!--我的咨询-->
        <activity android:name="com.chuxin.law.ui.activity.MyConsultActivity" />

        <!--推荐有礼-->
        <activity android:name="com.chuxin.law.ui.activity.RecommendCourtesyActivity" />

        <!--日期计算器-->
        <activity android:name="com.chuxin.law.ui.activity.DateCalculatorActivity" />
        <!--律师详情-->
        <activity android:name="com.chuxin.law.ui.activity.LawyerDefautActivity" />


        <!--诉讼计算器-->
        <activity android:name="com.chuxin.law.ui.activity.LitigationCalculatorActivity" />

        <!--律师计算器-->
        <activity android:name="com.chuxin.law.ui.activity.LawyerCalculatorActivity" />

        <!--个税计算器-->
        <activity android:name="com.chuxin.law.ui.activity.AtaxCalculatorActivity" />

        <!--搜索页面-->
        <activity android:name="com.chuxin.law.ui.activity.SearchActivity" />

        <!--添加地址-->
        <activity android:name="com.chuxin.law.ui.activity.SelectAreaActivity" />

        <!--添加地址-->
        <activity android:name="com.chuxin.law.ui.activity.AreaListActivity" />

        <!--添加地址-->
        <activity android:name="com.chuxin.law.ui.activity.SelectCountryActivity" />

        <!--律师介绍-->
        <activity android:name="com.chuxin.law.ui.activity.LawyerIntroductionActivity" />

        <!--购买-->
        <activity android:name="com.chuxin.law.ui.activity.BuyProductActivity" />

        <!--打赏-->
        <activity android:name="com.chuxin.law.ui.activity.GratuityActivity" />

        <!--打赏支付-->
        <activity android:name="com.chuxin.law.ui.activity.GratuityPayActivity" />



        <!--新浪分享-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--新浪分享-->

        <!--qq分享-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--qq分享-->

        <!--微信分享-->
        <activity
            android:name="com.chuxin.law.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a3a0da5b27b0a4ed200002f"></meta-data>
    </application>

</manifest>